PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
JWT_SECRET=solveflow_super_secret_jwt_key_2026
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/solveflow_db?schema=public
AI_SERVICE_URL=http://localhost:8000
